@layer components {
    .btn-brand {
        background-color: var(--brand-500);
    }

    .mw-120 {
        min-width: 120px;
        justify-content: center;
    }

    .mw-160 {
        min-width: 160px;
        justify-content: center;
    }
}
