@model Harpyx.WebApp.ViewModels.BrandHeroViewModel

<div class="space-y-4 text-center">
    <partial name="_SVG.Logo.Page" />
    <div class="space-y-1">
        <h1 class="card-title text-2xl justify-center">@Model.Title</h1>
        <p class="text-base-content/70">@Model.Subtitle</p>
    </div>
</div>
